.nav {
  background: var(--white-color-transparent);
  border-bottom: var(--border);
  backdrop-filter: blur(8px);
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 16px;
  width: 100%;
}

.logo {
  height: 48px;
}

.leftGroup {
  align-items: center;
  display: flex;
}

.linkList {
  align-items: center;
  display: flex;
}

.linkListItem {
  margin-left: 16px;
}

.linkListItem:first-child {
  margin-left: 0;
}

.socialLinks {
  margin-left: 40px;
}

@media (max-width: 540px) {
  .socialLinks {
    margin-left: 24px;
  }
}
